* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    padding: 40px;
}

.services {
    max-width: 1200px;
    margin: auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.content h3 {
    color: orange;
    margin-bottom: 10px;
}
.content span{
    color: orange;
}
.content h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.content p {
    color: #666;
    margin-bottom: 20px;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 14px;
}

.image img {
    width: 400px;
    border-radius: 10px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.card {
    background: #fff;
    padding: 25px;
    width: 33%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
}
.card span{
color: orange;

}

.icon {
    background: orange;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 14px;
}

.card span {
    display: inline-block;
    margin-top: 15px;
    color: orange;
    font-weight: bold;
}