** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background: linear-gradient(#0b1220, #020617);
  color: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}
.s {
  font-size: 28px;
  font-weight: bold;
}
.box {
  list-style: none;
  display: flex;
  gap: 25px;
}
.box li {
  color:whitesmoke;
  cursor: pointer;
}
.box .active:hover {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}
.btn {
  background: #38bdf8;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.portfolio {
  padding: 60px;
}
.cards {
  display: flex;
  gap: 30px;
}
.card {
  background: #0f172a;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}
.image {
  position: relative;
}
.image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #38bdf8;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
}
.badge.blue {
  background: #3b82f6;
}
.content {
  padding: 25px;
}
.data {
  display: flex;
  justify-content: space-between;
}
.category {
  color: #38bdf8;
  font-size: 13px;
  font-weight: bold;
}
.year {
  color: #94a3b8;
  font-size: 13px;
}
.content h3 {
  margin: 12px 0;
  font-size: 20px;
}
.content p {
  color: #cbd5e1;
  font-size: 14px;
  line-height: 1.6;
}
.lists {
  margin: 15px 0;
}
.lists span {
  background: white;
  color: black;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 6px;
}
.content a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
