Body{
margin: 0;
padding: 40px;
background: #f7f7f7;
text-align: center;
}
.title{
font-size: 32px;
margin-bottom: 5px;

}
.line{
    color: orange;
    
}
.title p{
color: gray;
margin-bottom: 40px;
}
.team-cards{
 width: 100%;   
}
.card{
   width: 260px;
   background: white;
   display: inline-block;
   margin: 15px;
   padding: 20px;
   vertical-align: top;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
}
.card img{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    border:4px solid #f4b26a;
}
.card h3{
   margin: 15px 0 5px; 
}
.card p{
    font-size: 14px;
    color: #555;
}
.card span{
  font-size: 15px;
  color: #f4b26a;
  font-weight: bold; 
  background: black; 
}
.media span {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  background: wheat;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 12px;
  cursor: pointer;
}
